In [ ]:
# set
"""


syntax:
-------

data = {1} # set


"""

In [1]:
data = {}
type(data)

dict

In [2]:
data = {1}
print(type(data))

<class 'set'>

In [3]:
# lets define set with some values

nums = {1, 2, 3, 3, 3, 3, 4, 5, 6}

print(nums)

{1, 2, 3, 4, 5, 6}

In [7]:
# set operations
#union and intersection

set1 = {1, 7, 3, 2, 3, 4}

set2 = {3, 4, 5, 6, 7, 7}
print(set1.union(set2))


# intersection
out = set1.intersection(set2)
print(out)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 7}

In [8]:

# write a program to find the comman friends from below data

my_friends = {'badra', 'raghu', 'swami'}

my_friend_friends = {'vamsi', 'kiran', 'mahesh', 'swami'}

# common friends
common_friends = my_friends.intersection(my_friend_friends)
print(common_friends)

{'swami'}

In [11]:
# write a program to merge two lists into single list and remove duplicates

data = [1, 2, 3, 4, 5, 5, 5, 6]
data2 = [3, 4, 5, 6, 6, 7, 8]

# output = [1, 2, 4, 5,6, 7,8]

# step 1 - convert list into set

set1 = set(data)

set2 = set(data2)
print(set1)
print(set2)

out = set1.union(set2)

# converting set to list
print(list(out))

{1, 2, 3, 4, 5, 6}
{3, 4, 5, 6, 7, 8}
[1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
# example on handling mutable objects in set
data = {1, 2, (1, 2, 3, 4)}
print(data)

{(1, 2, 3, 4), 1, 2}

In [14]:
my_data = {[1,2,34], [3, 4, 5]}
print(my_data)

TypeError: unhashable type: 'list'

In [15]:
my_data = { {'a': 2, 'b': 3}, {'c': 20} }

TypeError: unhashable type: 'dict'

In [19]:
# example of add and update of set
my_set = set()

# add single value
my_set.add(3)
my_set.add(4)
print(my_set)

my_new_data = [3, 4, 4, 5, 5, 6]

my_set.update(my_new_data)
print(my_set)

{3, 4}
{3, 4, 5, 6}

In [28]:
# set object
data = {1, 3, 4, 5}
print(data.discard(10))
#Remove an element from a set if it is a member.
#If the element is not a member, do nothing.

print(data)

# set.remove()
#Remove an element from a set; it must be a member.
#If the element is not a member, raise a KeyError.

print(data.remove(10))
print(data)

None
{1, 3, 4, 5}

KeyError: 10

In [24]:
help(data.remove)

Help on built-in function remove:

remove(...) method of builtins.set instance
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [30]:
# We can also remove all the items from a set using the clear() method.
my_set= {1, 2, 3}
my_set.clear()
print(my_set)

set()

In [34]:
my_set = set("HelloWorld")
print(my_set)
my_set.pop()
my_set.pop()
my_set.pop()
print(my_set)

{'e', 'H', 'd', 'o', 'l', 'r', 'W'}
{'o', 'l', 'r', 'W'}

In [ ]:
# set is in unordered collection

In [39]:
# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)
print(B - A)

print(A.difference(B))
print(B.difference(A))

{1, 2, 3}
{8, 6, 7}
{1, 2, 3}
{8, 6, 7}

In [41]:
# Symmetric difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use ^ operator
# Output: {1, 2, 3, 6, 7, 8}
print(A ^ B)
print(A.symmetric_difference(B)) # excludes the intersection

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}