In [ ]:
# what is string?
"""
String is nothing but a group of chars enclosed between quotes, ("", '', ''' ''')

--> string is a immutable sequence object
--> string also stores data in the form index position
--> string can be access with +ve index and -ve index
--> slice operation also can apply on string



Syntax:
------

<var_name> = "<data>"


ex:

location = "Hyderabad"

data = "c"  # string with length of one

data = ""  # empty string

"""

In [4]:
car_brand = "AUDI"

# index
print(car_brand[3])
print(car_brand[-3])

print(car_brand[0])
print(car_brand[-4])

I
U
A
A

In [11]:
# slicing
message = 'I love python language'
message[7:]

'python language'

In [12]:
message[7:13]

'python'

In [13]:
# built in functions

print(len(message))

22

In [19]:
help(''.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [26]:
# lets evaluate if conditions
# 0, None, [], {} , '' False --> False

data = ' '
print(len(data))
if data:
    print("valid")

1
valid

In [27]:
# can iterate over string?

for char in "Hello":
    print(char)

H
e
l
l
o

In [29]:
# how do we check string methods in string class?
for item in dir(""):
    if not item.startswith("__"):
        print(item)

capitalize
casefold
center
count
encode
endswith
expandtabs
find
format
format_map
index
isalnum
isalpha
isascii
isdecimal
isdigit
isidentifier
islower
isnumeric
isprintable
isspace
istitle
isupper
join
ljust
lower
lstrip
maketrans
partition
removeprefix
removesuffix
replace
rfind
rindex
rjust
rpartition
rsplit
rstrip
split
splitlines
startswith
strip
swapcase
title
translate
upper
zfill

In [ ]:
"""
s.startswith()
s.endswith()

s.lower()
s.upper()
s.title()
s.capitalize()


s.strip()
s.lstrip()
s.rstrip()


s.split()

s.join()


s.format()

s.count()

s.encode()
s.decode()
"""

In [34]:
# write a program to find the names whose name start with ab

data = ['ab c praveen', 'acb rhul', 'abrde sanju']

for name in data:
    if name.startswith("abc"):
        print(name)

In [ ]:
# startswith() --> return True when given sequecne starts on string

In [40]:
# endswith()m--> return True when given string endwith given sequence

my_files = ['abc.txt', 'dddd.docx', 'cccc.pdf', 'rrrr.pdf']

filter_type_filter = ".txt"

for file in my_files:
    if file.endswith(filter_type_filter):
        print(file)

abc.txt

In [46]:
# string lower upper, title

company_name = "wipro pvt ltd"

# convent to upper case
print(company_name.upper())

# convert to title
print(company_name.title())

print(company_name.capitalize())

WIPRO PVT LTD
Wipro Pvt Ltd
Wipro pvt ltd

In [53]:
# stripe is used to remove spaces at prefix and sufix

location = "  hyderabad  "
print(location)

out1 = location.strip()
print(len(out1))


# lstripe prefix space removed
out2 = location.lstrip()
print(out2)
print(len(out2))

out3 = location.rstrip()
print(out3)
print(len(out3))

  hyderabad
9
hyderabad
11
  hyderabad
11

In [31]:
# string methods --> split(), join(), format()

#split() --> splits the string by using delimeter

full_name = "Badra al"

data = full_name.split(" ")
print(data)
print(data[0])
print(data[1])


car_number = "AP-07-3333"

# get the state name from car number?

state_name = car_number.split("-")[2]

print(state_name)



# join() --> join function used to create string from iterable objects

data = ["Hello", "world", "India"]

out = " --> ".join(data)
print(out)



c = ['I', 'love', 'india']

#
message = " ".join(data)

print(message)


# lets implement own logic

out = ''
for index,  word in enumerate(c):
    if index == 0:
        out = word
    else:
        out = out + ' ' + word

print(out)



# write a program to split below string by using $ symbol?

user_data = "sandy,hyderabd,99"

out_data = user_data.split(",")
print(out_data)
print("Marks", out_data[2])




location = "Hyderabad"
print(location.split('a'))




# replace() 

message = "I love python with django dev work"

out = message.replace('django', 'flask')
print(out)
print(message)

data = "AAA|BBB|CCC|"

new_del_str = data.replace("|", "$")
print(new_del_str)

['Badra', 'al']
Badra
al
3333
Hello --> world --> India
Hello world India
I love india
['sandy', 'hyderabd', '99']
Marks 99
['Hyder', 'b', 'd']
I love python with flask dev work
I love python with django dev work
AAA$BBB$CCC$

In [44]:
# string methods --> encode() , decode()

data = "I am \n going to home by 11 AM $%"

# convertig string to byte string
encode = data.encode('utf-8')
print(type(encode))
print("encoded", encode)

# decode --> converting byte to string

out = encode.decode("utf-8")
print(type(out))


print("_________________")
data = "My name is Ståle"

out = data.encode('utf-8')
print(out)

# decode
str_new = out.decode("utf-8")
print(str_new)

<class 'bytes'>
encoded b'I am \n going to home by 11 AM $%'
<class 'str'>
_________________
b'My name is St\xc3\xa5le'
My name is Ståle

In [49]:
# string methods --> format() and f strings , count()

print("apple".count('p'))

2

In [64]:
# format and f string are used to dynamically substitute values in strings

messages = "Hi {name}, How are you, and your coupon no is : {coupon}"

praven_msg = messages.format(coupon="WEYYE55", name="Praveen")
kiran_msg = messages.format(coupon="WEYYE56", name="Kiran")
print(praven_msg)
print(kiran_msg)

Hi Praveen, How are you, and your coupon no is : WEYYE55
Hi Kiran, How are you, and your coupon no is : WEYYE56

In [63]:
# f strings are used to substitute value available in variables

name = "praenn"

mobile_number = "+91 9010324454"

message = f"Hi {name}, mobile number: {mobile_number}"

print(message)

Hi praenn, mobile number: +91 9010324454

In [66]:
# write a program to mutltiply 40 with 3 in f strings

print(f"output = {40 * 3} and add is { 40 + 3}")

output = 120 and add is 43

In [69]:
# Home work

# write a program to find the given string is polindrome or not?

data ="racecar"
print(data[::-1] == data)

True